.github                     export-ignore
tests                       export-ignore
.editorconfig               export-ignore
.gitattributes              export-ignore
.gitignore                  export-ignore
.php-cs-fixer.dist.ph       export-ignore
phpstan.dist.neon           export-ignore
phpunit.xml.dist            export-ignore
README.md                   export-ignore
